@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap');

/* 
    font-family: 'Bebas Neue',cursive;
    font-family: 'Old Standard TT',serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
        background-color: #080A0C;
        color: #ffffff;
}

h2 {
    font-family:'Bebas Neue',cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
ul{
    margin-bottom: 1rem;
    font-family:'Old Standard TT',
        serif ;
}
ol {
    font-family: 'Old Standard TT',
            serif;
}
.content {
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin:2rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.title > button , a {
    width: fit-content;
    padding:5px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.title > h1 {
    font-family: 'Bebas Neue',
        cursive;
    font-size: 3rem;
}

.title > img {
    border-radius: 20px;
}
.method {
    align-self: center;
    margin-top: 8rem;
}

.method > .description {
    font-family:'Old Standard TT',
        serif;
    font-style: italic;
}